.footer{
    padding: 5px;
    color: white;
    background-color:#5C1E21;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    font-weight: bold;
}