@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: #5C1E21;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    background-color: #eaeaea;
}

.navLogo {
    font-family: 'Monsieur La Doulaise', cursive;
}
.navLogo h1 {
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

.navbarMenu ul {
    display: flex;
    list-style: none;
}

.navbarMenu li {
    flex-direction: column;
    padding: 5px 20px;
}
.navbarMenu a {
    font-family: cursive;
    color: #5C1E21;
    font-weight: bold;
    text-decoration: none;
}
.navbarMenu a:hover {
    text-decoration: underline;
    background-color: white;
}

.hidden {
    visibility: hidden;
}

@media screen and (min-width: 599px) {
    .burger-button {
        visibility: hidden;
    }
    .hidden {
        visibility: visible;
    }
}

@media screen and (max-width: 599px) {
    .burger-button {
        background-color: transparent;
        border: none;
    }
    .burger-button img{
        width: 16px;
        height: 16px;
        background-color: #5C1E21;
        padding: 10px;
        border-radius: 10px;
    }
    .navbarMenu ul {
        flex-direction: column;
    }
    .navbarMenu {
        position: absolute;
        right: 15px;
        top: 30px;
    }
    .navbarMenu a{
        background-color: #eaeaea;
        border: 1px solid #5C1E21;
        border-radius: 5px;
    }
}